<!-- <div class="banner" style="background-image: url(https://asialyst.com/fr/wp-content/uploads/2016/02/FRANCE-BAR-TABAC.jpg)">
  <div class="container" >
    <h3>quand y'en a plus,y'en a encore</h3>
    <h1>Trouver des apéros pas loin</h1>
    <p></p>
  </div>
</div> -->

<div class="main-container">
  <div class="cards">
    <% @aperos.each do |apero| %>
    <%= link_to apero_path(apero) do %>
      <div class="col-12 card-apero mt-3 mx-5" <% link_to "apero_path(@apero)" %>>
        <!-- mettre ici le code Ruby pour import des images par apéro -->
        <img src="<%= apero.photo %>" />
        <div class="card-apero-infos">
          <h1><%= apero.title %></h1>
          <h2><strong><%= l(apero.date, format: ' %A %e %b, à %kh%M') %></strong></h2>
          <p><%= apero.description %></p>
          <small>organisé par <%= apero.user.first_name %></small>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <div
  id="map"
  style="width: 50%;
  height: 100vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>


