<div class="offset-2 col-8">
    <h2 class="mt-5 mb-5 text-center" style="color: $base_blue">🍸 Crée ta pochtronnade 🍸</h2>

  <%= simple_form_for(@apero) do |f| %>
  <div class="form-group row">
    <label for="inputTitle" class="col-sm-2 col-form-label">Titre</label>
    <div class="col-sm-10">
      <%= f.input :title, class: 'form-control', id: 'inputTitle', label: false, placeholder: 'Titre' %>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputPlace" class="col-sm-2 col-form-label">Lieu</label>
    <div class="col-sm-10">
      <%= f.input :place, class: 'form-control', id: 'inputPlace', label: false, placeholder: 'Lieu' %>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
    <div class="col-sm-10">
      <%= f.input :date, as: :datetime, label: false%>
    </div>
  </div>

  <div class="form-group row">
      <label for="inputCapacité" class="col-sm-2 col-form-label">Capacité</label>
      <div class="col-sm-10">
      <%= f.input :capacity, class: 'form-control', id: 'inputCapacity', label: false, placeholder: 'Capacité' %>
      </div>
  </div>

  <div class="form-group row">
    <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <%= f.input :description, class: 'form-control', id: 'inputDescription', label: false, placeholder: 'Description' %>
    </div>
  </div>


  <div class="form-group row">
    <label for="inputDescription" class="col-sm-2 col-form-label">Ambiances</label>
    <div class="col-sm-10">
       <%= select_tag "Ambiance", options_from_collection_for_select(
      Ambiance::SELECTION,
      :to_s, :to_s),
      class: 'select2 ambianceselect' %>
    </div>
  </div>



  <div class="form-group row">
    <label for="inputPicture" class="col-sm-2 col-form-label">Photo</label>
    <div class="col-sm-10">
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>
  </div>
    <div class="form-actions text-center mt-4">
      <%= f.submit "C'est parti mon kiki !", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

