<div class="container m-5 mx-auto">
    <h1 class="">Crée ta pochtronnade</h1>

  <%= simple_form_for(@apero) do |f| %>
  <div class="form-group row">
    <label for="inputTitle" class="col-sm-2 col-form-label">Titre</label>
    <div class="col-sm-10">
      <%= f.input :title, class: 'form-control', id: 'inputTitle', label: false, placeholder: 'Titre' %>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputPlace" class="col-sm-2 col-form-label">Lieu</label>
    <div class="col-sm-10">
      <%= f.input :place, class: 'form-control', id: 'inputPlace', label: false, placeholder: 'Lieu' %>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
    <div class="col-sm-10">
      <%= f.input :date, as: :datetime, label: false%>
    </div>
  </div>

  <div class="form-group row">
      <label for="inputCapacité" class="col-sm-2 col-form-label">Capacité</label>
      <div class="col-sm-10">
      <%= f.input :capacity, class: 'form-control', id: 'inputCapacity', label: false, placeholder: 'Capacité' %>
      </div>
  </div>

  <div class="form-group row">
    <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <%= f.input :description, class: 'form-control', id: 'inputDescription', label: false, placeholder: 'Description' %>
    </div>
  </div>

  <div class="form-group row">
    <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Ambiance</label>
    <div class="form-group col-sm-10">
    <select class="form-control" id="inputAmbiance">
      <% Apero::AMBIANCES.each do |ambiance|%>
        <option><%= ambiance %></option>
      <% end %>
    </select>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <%= f.submit "C'est parti mon zizi !", class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>
</div>

