
<div class="banner mb-5" style="background-image: url(<%= @apero.photo %>)">
  <h1 class="pt-5 pl-5"><%= @apero.title %> !</h1>
  <h3 class="pl-5"><%=l(@apero.date, format: ' %A %e %b, à %kh%M')%></h3>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3>Lieu de l'apéro</h3>
          <p><%= @apero.place %></p>
          <p><a href=“” data-toggle=“modal” data-target=“#exampleModalCenter”>voir sur la map</a></p>
          <h3>Description de l'apéro</h3>
          <p><%= @apero.description %></p>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card">
        <div class="card-body d-flex justify-content-between">
          <div class="pic-pochtron">
            <%= cl_image_tag @apero.user.photo %>
          </div>
          <div class="text-pochtron">
            <h5 class="card-title"><%= @apero.user.first_name %>, pochtron en chef</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

        <% if current_user == @apero.user %>
        <div class="d-flex justify-content-between mx-4">
          <%= link_to "Modifier l'apéro", edit_apero_path(@apero), class: "btn btn-outline-primary mr-5" %>
          <%= link_to "Supprimer l'apéro", apero_path(@apero), class: "btn btn-outline-danger", method: :delete, data: { confirm: "T'es vraiment sûr de vouloir supprimer cette belle occasion?" } %>
        </div>
        <% else %>
        <% if Booking.where(user: current_user, apero: @apero) %>
        <% elsif user_signed_in? %>
        <%= link_to "Participer à l'apéro de #{@apero.user.first_name}", apero_bookings_path(@apero), method: :post, class: "btn btn-flat" %>
        <% else %>
        <%= link_to "Inscris toi pour participer !", new_user_registration_path, class: "btn btn-flat" %>
        <% end %>
        <% end %>
      </div>

      <div class="card card-liste-pochtrons card-body d-flex justify-content-between">
        <p>Pochtrons inscrits :</p>
        <div class="bookphotos">
          <% @apero.bookings.each do |booking| %>
          <div class="photo-user">
            <%= cl_image_tag(booking.user.photo, width: 40, height: 40, crop: :thumb, gravity: :face, class:"avatar", data: {toggle:"popover", content: booking.user.username, trigger: "hover"}, id:'navbarDropdown') %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <% if Time.now > @apero.date %>
  <div class="row mt-5">
    <div class="col">
      <h4>Alors t'as la gueule de bois ???</h4>
      <%= simple_form_for [@apero, @review] do |f|%>
      <%= f.input :content, class: 'form-control', id: 'inputContent', label: false, placeholder: "Tes rares souvenirs de l'apéro ?" %>
      <%= f.input :rating, class: 'form-control', id: 'inputContent', label: false, placeholder: "Ton mal de crâne de 0 à l'infini ?" %>
      <%= f.submit 'Bouton', class: 'btn btn-primary mb-4' %>
      <% end %>
      <% @reviews.each do |review| %>
      <p class="card mt-3 mb-3 p-2"> <%= review.user.first_name %> <br> Mon retour de gueule de bois : <%= review.content %> <br> Ma note : <%= review.rating.to_i %> <p>
        <% end %>
        <%end %>
      </div>
      </div><!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div
          id="map"
          style="height: 50vh; width: 12000px; margin-left: 35px; padding-top: 30px; margin-bottom: 30px;"
          data-markers="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>

<!--         <div class="row">
          <div class="col-lg-8">
            <div>
             <p><a href="http://estcequecestbientotlapero.fr/" target="_blank">Est-ce que c'est bientôt l'heure de l'apéro ?</a></p>
            </div>
          </div>
        </div>
