
    <div class="banner" style="background-image: url(<%= @apero.photo %>)">
      <div class="container" >
        <h1><%= @apero.title %> !</h1>
        <h3><%=l(@apero.date, format: ' %A %e %b, à %kh%M')%></h3>
      </div>
    </div>

      <div class="container-desc">
        <div class="rows">
        <div class="row">
          <div class="col-md-10">
            <h3>Lieu de l'apéro</h3>
            <p><%= @apero.place %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <h3>Ambiance</h3>
            <p><%= @apero.ambiance %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <h3>Description de l'apéro</h3>
            <p><%= @apero.description %></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <p><a href="http://estcequecestbientotlapero.fr/" target="_blank">Est-ce que c'est bientôt l'heure de l'apéro ?</a></p>
          </div>
        </div>
      </div>

        <div class="col-md-6">
        <div class="card mb-6 sticky-top" style="max-width: 680px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <%= cl_image_tag @apero.user.photo, :width=>150, :height=>150, :crop=>"fill", class: "card-img" %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= @apero.user.first_name %>, pochtron en chef</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <% if current_user == @apero.user %>
          <div class="d-flex justify-content-between mt-3">
          <%= link_to "Modifier l'apéro", edit_apero_path(@apero), class: "btn btn-outline-primary mr-5" %>
          <%= link_to "Supprimer l'apéro", apero_path(@apero), class: "btn btn-outline-danger", method: :delete, data: { confirm: "T'es vraiment sûr de vouloir supprimer cette belle occasion?" } %>
        </div>
        <% else %>
        <% if Booking.where(user: current_user, apero: @apero) %>
            <p></p>
        <% elsif user_signed_in? %>
          <%= link_to "Participer à l'apéro de #{@apero.user.first_name}", apero_bookings_path(@apero), method: :post, class: "btn btn-flat mt-5" %>
        <% else %>
          <%= link_to "Inscris toi pour participer !", new_user_registration_path, class: "btn btn-flat mt-5" %>
        <% end %>
        <% end %>
        <br>
        <br>
        <h4>Pochtrons inscrits :</h4>
        <div class="bookphotos">
          <% @apero.bookings.each do |booking| %>
          <div class="photo-user">
            <%= cl_image_tag(booking.user.photo, width: 40, height: 40, crop: :thumb, gravity: :face, class:"avatar", data: {toggle:"popover", content: booking.user.username, trigger: "hover"}, id:'navbarDropdown') %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
