
    <div class="banner" style="background-image: url(<%= @apero.photo %>)">
      <div class="container" >
        <h1><%= @apero.title %> !</h1>
        <h3><%=l(@apero.date, format: ' %A %e %b, à %kh%M')%></h3>
      </div>
    </div>

      <div class="container-desc">
        <div class="rows">

        <div class="row">
          <div class="col-md-10">
            <h4>Lieu de l'apéro</h4>
            <p><%= @apero.place %></p>
            <p><a href="" data-toggle="modal" data-target="#exampleModalCenter">voir sur la map</a></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">


            <h3>Description de l'apéro</h3>
            <p><%= @apero.description %></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <p><a href="http://estcequecestbientotlapero.fr/" target="_blank">Est-ce que c'est bientôt l'heure de l'apéro ?</a></p>
          </div>
        </div>
      </div>

        <div class="col-md-6">
        <div class="card mb-6 sticky-top" style="max-width: 680px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <%= cl_image_tag @apero.user.default_photo, :width=>150, :height=>150, :crop=>"fill", gravity: "face", class: "card-img" %>
            </div>

            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= @apero.user.first_name %>, pochtron en chef</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">Dernière mise à jour le <%= l(@apero.updated_at, format: '%A %e %b')  %></small></p>
              </div>
            </div>
          </div>
        </div>

        <% if current_user == @apero.user %>
          <div class="d-flex justify-content-between mt-3">
          <%= link_to "Modifier l'apéro", edit_apero_path(@apero), class: "btn btn-outline-primary mr-5" %>
          <%= link_to "Supprimer l'apéro", apero_path(@apero), class: "btn btn-outline-danger", method: :delete, data: { confirm: "T'es vraiment sûr de vouloir supprimer cette belle occasion?" } %>            
          </div>
        <% else %>
        <% if Booking.where(user: current_user, apero: @apero) %>
            <p></p>
        <% elsif user_signed_in? %>
          <%= link_to "Participer à l'apéro de #{@apero.user.first_name}", apero_bookings_path(@apero), method: :post, class: "btn btn-flat mt-5" %>
        <% else %>
          <%= link_to "Inscris toi pour participer !", new_user_registration_path, class: "btn btn-flat mt-5" %>
         <% end %>
        <% end %>
          <br>
          <br>
        <h4>Pochtrons inscrits :</h4>
        <div class="bookphotos">
          <% @apero.bookings.each do |booking| %>
          <div class="photo-user">
            <%= cl_image_tag(booking.user.photo, width: 40, height: 40, crop: :thumb, gravity: :face, class:"avatar", data: {toggle:"popover", content: booking.user.username, trigger: "hover"}, id:'navbarDropdown') %>
             </div>
          <% end %>
        </div>
      </div>
    </div>
          </div>
      </div>

    <div class="container">
      <% if Time.now > @apero.date %>
      <div class="form-group row">
        <label for="inputDescription" class="col-sm-2 col-form-label">Gueule de bois ??</label>
      <div class="col-sm-10">
        <%= simple_form_for [@apero, @review] do |f|%>
          <%= f.input :content, class: 'form-control', id: 'inputContent', label: false, placeholder: 'Alors il était bien cet apéro ???' %>
          <%= f.input :rating, class: 'form-control', id: 'inputContent', label: false, placeholder: 'Quelle note ?' %>
          <%= f.submit 'Bouton', class: 'btn btn-primary' %>
          <% end %>
          <div class=''>
          <% @reviews.each do |review| %>
            <p> <%= @apero.user.first_name %> <br> Mon retour de gueule de bois : <%= review.content %> <br> Ma note : <%= review.rating.to_i %> <p>
          <% end %>
          </div>
        <% end  %>
      </div>
      </div><!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div
          id="map"
          style="height: 50vh; width: 12000px; margin-left: 35px; padding-top: 30px; margin-bottom: 30px;"
          data-markers="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

    </div>
  </div>
</div>
