
    <div class="banner" style="background-image: url(<%= @apero.photo %>)">
      <div class="container" >
        <h1><%= @apero.title %> !</h1>
        <h3><%=l(@apero.date, format: ' %A %e %b, à %kh%M')%></h3>
      </div>
    </div>

      <div class="container-desc">
        <div class="rows">
        <div class="row">
          <div class="col-md-10">
            <h4>Lieu de l'apéro</h4>
            <p><%= @apero.place %></p>
            <p><a href="" data-toggle="modal" data-target="#exampleModalCenter">voir sur la map</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <h4>Ambiance</h4>
            <p><%= @apero.ambiance %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <h4>Description de l'apéro</h4>
            <p><%= @apero.description %></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <p><a href="http://estcequecestbientotlapero.fr/" target="_blank">Est-ce que c'est bientôt l'heure de l'apéro ?</a></p>
          </div>
        </div>
      </div>

        <div class="col-md-6">
        <div class="card mb-6 sticky-top" style="max-width: 680px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <%= cl_image_tag @apero.user.default_photo, :width=>150, :height=>150, :crop=>"fill", gravity: "face", class: "card-img" %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= @apero.user.first_name %>, pochtron en chef</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">Dernière mise à jour le <%= l(@apero.updated_at, format: '%A %e %b')  %></small></p>
              </div>
            </div>
          </div>
        </div>
        <% if current_user == @apero.user %>
        <div class="d-flex justify-content-between mt-3">
        <%= link_to "Modifier l'apéro", edit_apero_path(@apero), class: "btn btn-outline-primary mr-5" %>
        <%= link_to "Supprimer l'apéro", apero_path(@apero), class: "btn btn-outline-danger", method: :delete, data: { confirm: "T'es vraiment sûr de vouloir supprimer cette belle occasion?" } %>
        </div>
        <% else %>
        <%= link_to "Participer à l'apéro de #{@apero.user.first_name}", apero_bookings_path(@apero), method: :post, class: "btn btn-flat mt-5" %>
        <% end %>
      </div>
      </div><!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div
          id="map"
          style="height: 50vh; width: 12000px; margin-left: 35px; padding-top: 30px; margin-bottom: 30px;"
          data-markers="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
