
    <div class="banner" style="background-image: url(http://promenade.temporelle.free.fr/dotclear/public/images/michele_2/centre_Pompidou_bis/nouveau_quartier/IMGP0146.JPG)">
      <div class="container" >
        <h1><%= @apero.title %> !</h1>
        <h3><%=l(@apero.date, format: ' %A %e %b, à %kh%M')%></h3>
      </div>
    </div>

      <div class="container-desc">
        <div class="rows">
        <div class="row">
          <div class="col-md-10">
            <h3>Lieu de l'apéro</h3>
            <p><%= @apero.place %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <h3>Ambiance</h3>
            <p><%= @apero.ambiance %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <h3>Description de l'apéro</h3>
            <p><%= @apero.description %></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <p><a href="http://estcequecestbientotlapero.fr/" target="_blank">Est-ce que c'est bientôt l'heure de l'apéro ?</a></p>
          </div>
        </div>
      </div>

        <div class="col-md-6">
        <div class="card mb-6 sticky-top" style="max-width: 680px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://fr.cdn.v5.futura-sciences.com/buildsv6/images/largeoriginal/d/4/7/d47c10fe9d_50039061_kip-thorne-wikipedia.jpg" class="card-img" alt="">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= @apero.user.first_name %>, pochtron en chef</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <%= link_to "Participer à l'apéro de #{@apero.user.first_name}", apero_bookings_path(@apero), method: :post, class: "btn btn-flat mt-5" %>
      </div>
      </div>
