<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Beers, beers & beers</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <i class="fas fa-glass-cheers fa-spin"></i></i>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#">Apéros réservés</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Profil</a>
      </li>
      <li class="nav-item dropdown text-black">
        <%= image_tag('gerard.png', class:"avatar dropdown-toggle", id:'navbarDropdown', data: { toggle: "dropdown"}, aria: { expanded: false, haspopup: true}) %>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>

    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/zenoid/alcoholmap" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/drunkpeoplesvideos/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/jaimelabinche/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/prefpolice"><i class="fab fa-twitter" target="_blank"></i></a>
    <a href="https://www.linkedin.com/company/pernod-ricard/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    By la team soulard with love.
  </div>
</div>


    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
